# macOS
.DS_Store

# Environment variables
.env

# Node
node_modules/
**/node_modules/

# Build outputs
dist/
build/

# Vite / cache
.vite/

# Logs
*.log

# Prisma generated (on garde le schema, on ignore les migrations générées)
prisma/migrations/
